html {
    font-size: 12px;
}
.loader {
	width: 60px;
    height: 60px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db; 
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.overlay {
	top: 0;
	background: rgba(85, 85, 85, 0.79);
	position: fixed;
	width: 100%;
	height: 100%;
}

.loaded-pages {
    text-align: center;
    padding-top: 2em;
}